# Ignore Python virtual environment directories
venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore output directory
output/
output
output/*

downloads/
downloads
downloads/*

# Ignore logs
*.log

# Ignore system files
.DS_Store

# Allow everything else
!/*